<div class="col-sm-offset-4 col-sm-4" ng-controller="ResetPasswordCtrl">

	<div class="loginPage-alert alert alert-danger text-center mt-20" role="alert" ng-if="loginFailed">
		<div ng-bind="errorMessage"></div>
	</div>


	<div class="changePassword-brand-header">
		<!-- <img src="" width="250" alt=""> -->
		<!-- <span class="hidden-sm"> | </span>  -->
		<span ng-show="!loginFailed">
			Renovación de contraseña
		</span>
		
	</div>




	<form class="changePassword-form" role="form" name="askEmail" novalidate ng-submit=" submitAskEmail( askEmail ) " ng-show="showForm_askEmail">

		
		<p class="text-center">Ingresa tu email para que te enviemos un enlace de recuperación de contraseña.</p>
		

		<fieldset>
			<div class="form-group">				
				<label for="email">E-mail</label>
				<input type="email" id="email" name="email" class="form-control input-lg" required ng-model="userEmail">
				<p class="help-block empty-height-holder"></p>
			</div>



			<div class="form-group">
				<div class="text-center">
					<button type="submit" class="btn btn-primary" ng-disabled="submitting || !userEmail">
						<span class="fa fa-paper-plane mr-10"></span>
						Enviar e-mail
					</button>
				</div>
			</div>
		</fieldset>
	</form>


	<div ng-show="showNotif_emailSent" class="text-center notif-text">
		<span class="fa-stack fa-3x color-success animated pulse">
			<i class="fa fa-circle-o fa-stack-2x"></i>
			<i class="fa fa-check fa-stack-1x "></i>
		</span>
		<div class="animated fadeIn mt-20">
			<p>Te hemos enviado un e-mail de renovación.</p>
			<p>Ahí encontrarás las instrucciones para cambiar tu contraseña de ingreso por una nueva.</p>
			<p>Si no encuentras ese mail en tu casilla de entrada, por favor, revisa tu casilla de spam.</p>
		</div>
	</div>



</div>


<style>
	

	.changePassword-brand-header {
		margin: 0px 0px 40px;
		min-height: 100px;
		font-size: 1.7em;
		text-align: center;
	}

	.empty-height-holder {
		height: 1.1em;
	}
</style>
