<div class="col-md-12 text-center" ng-controller="LandingCtrl">

	<div class="spinner-box" ng-if="loadingInfo">
		<i class="fa fa-cog fa-spin"></i>
	</div>


	<div ng-if="!loadingInfo">
		<div class="row">
			<div class="col-md-12">
				<h1>
					<span>Hola de nuevo </span>
					<span ng-bind="personData.fullName"></span>
				</h1>
			</div>
		</div>

		<br><br>

		<div class="row ">
			<div class="col-sm-12">
				<h4>Estos son tus avances...</h4>
				<br>
				<table class="ranking-marks-table mt-20 mb-30">
					<tr ng-repeat="dataLine in personData.marks">
						<td ng-bind="dataLine.competencia"></td>
						<td><span class="fa fa-chevron-right"></span></td>
						<td ng-bind="dataLine.mark"></td>
					</tr>

				</table>

				<br>

				<div class="ranking-action-box mt-30">
					<a ui-sref="ranking">
						<div class="btn btn-lg btn-primary">
							<span class="fa fa-flag-checkered"></span>
							IR AL RANKING GENERAL
						</div>
					</a>
				</div>

			<!--
			<div class="ranking-action-box">
				<div class="btn btn-lg btn-primary">
					<span class="fa fa-clock-o"></span>
					JUGAR DESAFÍO INMEDIATO!
				</div>
			</div>
		-->


	</div>

		<!--
		<div class="col-sm-6" >
			<h4>Incrementá tus puntajes...</h4>
			

			<div>
				<a href="">Trivia de transmisión asistida</a>	
			</div>

			<div>
				<a href="">Ping pong de amortiguación hidráulica</a>
			</div>

			<div>
				<a href="">Ping pong de electrónica básica</a>
			</div>

			<div>
				<a href="">Trivia de paneles y plásticos</a>
			</div>

			

			<br>

			<h4>Desafiá a un compañero...</h4>
			<ul>

				<div class="pill-wrapper" ng-repeat="user in users">
					<div class="pill-head">

					</div>
					<div class="pill-text-wrapper">
						<div class="pill-text vertical-centered ellipsis">
							Nombre de usuario
						</div>	
					</div>	
				</div>
				
			</ul>

		</div>
	-->

</div>
</div>


</div>
