
<nav class="navbar navbar-default navbar-fixed-top non-selectable navbar-custom-bg ">
	<div class="container-fluid" >
		
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" ui-sref="landing" style="font-size: 16px; margin-top:4px">
				
				<!-- <img src="http://in-geniousclub.com/image_server/hm/brand/in-genious_logo_ml.png" alt="" width="200px">    -->
				<div class="navbar-brand-image logo_itca_competencia_1"></div>
			</a>


			
		</div>


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav" ng-if=" navItems.length ">


				<li ng-repeat="navItem in navItems" ng-class="{ active: state.current.name == navItem.uisref, dropdown: navItem.dropdown.length }"  ng-if="seenByCurrentRole( navItem.roles )">
					
					<a  ng-if="!navItem.dropdown.length" ui-sref=" {{ navItem.uisref || state.current.name }} " ng-attr-disabled=" {{ !navSubItem.uisref || navSubItem.disabled ? 'disabled' : '' }}">
						<span ng-bind=" navItem.caption "></span>
						<span class="sr-only" ng-if="state.current.name == navItem.uisref">(current)</span>
					</a>

					<a  ng-if="navItem.dropdown.length" class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" role="button">
						<span ng-bind=" navItem.caption "></span>
						<span class="sr-only" ng-if="state.current.name == navItem.uisref">(current)</span>
						<span class="caret"></span>
					</a>


					<ul class="dropdown-menu" role="menu" ng-if=" navItem.dropdown.length ">
						<li ng-repeat=" navSubItem in navItem.dropdown" ng-class=" { disabled: !navSubItem.uisref && !navSubItem.href }" ng-if="seenByCurrentRole( navSubItem.roles )">

							<div ng-if="navSubItem.topDivider" class="divider"></div>

							<!-- anchor with uisref -->
							<a  ng-if="navSubItem.uisref" ng-attr-ui-sref=" {{ navSubItem.uisref || state.current.name }} " ng-attr-disabled=" {{ !navSubItem.uisref || navSubItem.disabled ? 'disabled' : '' }}" >
								<span ng-bind=" navSubItem.caption "></span>
								<span class="sr-only" ng-if="state.current.name == navSubItem.uisref">(current)</span>
							</a>


							<!-- anchor with basic href -->
							<a  ng-if="navSubItem.href" ng-href=" {{ navSubItem.href }} " ng-attr-disabled=" {{  navSubItem.disabled ? 'disabled' : '' }}" target="_blank" >
								<span ng-bind=" navSubItem.caption "></span>
							</a>
							
						</li>
					</ul>
				</li>

			</ul>


			<ul class="nav navbar-nav navbar-right">
				
				<li><a ui-sref="account.login"  ng-if="!session.loggedIn">Login</a></li>
				<!-- <li><a ui-sref="account.signup" ng-if="!session.loggedIn">Signup</a></li> -->

				
				<li class="dropdown" ng-if="session.loggedIn">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<img ng-src="{{session.user.person.avatar}}" class="img-circle navbar-profile-img">
						<span ng-bind=" session.user.username || 'User' ">
							<!--
							<div class="ranking-avatar navbar-avatar" ng-style="{'background-image':'url(' + session.user.person.avatar +  ')' }"></div>	
							-->
						</span><span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">

						<li ng-repeat="option in accountOptions">
							<a ng-attr-ui-sref=" {{ option.uisref }} ">
								<span ng-bind="option.caption"></span>
							</a>
						</li>
						<!-- <li><a ui-sref="settings">Account settings</a></li>-->
						<li class="divider" ng-if="accountOptions.length"></li> 
						<li><a ng-click="auth.logout()">Sign out</a></li>
					</ul>
				</li>
			</ul>



		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->

</nav>