<div class="col-sm-offset-4 col-sm-4" ng-controller="ChangePasswordCtrl">

	<div class="loginPage-alert alert alert-danger text-center mt-20" role="alert" ng-if="loginFailed">
		<div ng-bind="errorMessage"></div>
	</div>


	<div class="changePassword-brand-header">
		<!-- <img src="" width="250" alt=""> -->
		<!-- <span class="hidden-sm"> | </span>  -->
		<span ng-show="!loginFailed">
			Renovación de contraseña
		</span>
		
	</div>


	


	<form class="changePassword-form" role="form" name="changePassword" novalidate ng-submit=" submitChangePassword( changePassword ) " ng-show="showForm_newPassword">
		<fieldset>
			<div class="form-group">				
				<label for="password">Nueva contraseña</label>
				<input type="password" id="newPassword" name="newPassword" class="form-control input-lg" required ng-model="credentials.newPassword">
				<p class="help-block empty-height-holder"></p>
			</div>

			<div class="form-group">				
				<label for="password">Repetir nueva contraseña</label>
				<input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" class="form-control input-lg" required ng-model="credentials.newPasswordConfirmation">
				<p class="help-block empty-height-holder"></p>
			</div>



			<div class="form-group">
				<div class="text-center">
					<button type="submit" class="btn btn-primary" ng-disabled="submitting || !credentials.newPassword.length || !credentials.newPasswordConfirmation.length">
						<span class="fa fa-key mr-10"></span>
						Cambiar la contraseña
					</button>
				</div>
			</div>
		</fieldset>
	</form>

	<div ng-show="showNotif_emailSent || false" class="text-center notif-text">
		<span class="fa-stack fa-3x animated pulse">
			<i class="fa fa-circle-o fa-stack-2x"></i>
			<i class="fa fa-check fa-stack-1x"></i>
		</span>
		<div class="animated fadeIn mt-20">
			<p>Te hemos enviado un e-mail de renovación.</p>
			<p>Ahí encontrarás las instrucciones para cambiar tu contraseña de ingreso por una nueva.</p>
			<p>Si no encuentras ese mail en tu casilla de entrada, por favor, revisa tu casilla de spam.</p>
		</div>
	</div>

	<div ng-show="invalidToken" class="text-center notif-text">
		<span class="fa-stack fa-3x color-fail animated pulse">
			<i class="fa fa-circle-o fa-stack-2x"></i>
			<i class="fa fa-times fa-stack-1x "></i>
		</span>
		<div class="animated fadeIn mt-20">
			<p>La clave temporal de recuperación ha caducado.</p>
			<p><a ui-sref="account.resetPassword" class="btn btn-primary mt-20">Obtener nueva contraseña</a></p>
			<p><a ui-sref="landing" class="btn btn-primary mt-10">Ir a la página de inicio</a></p>
		</div>
	</div>




</div>


<style>
	

	.changePassword-brand-header {
		margin: 0px 0px 40px;
		min-height: 100px;
		font-size: 1.7em;
		text-align: center;
	}

	.empty-height-holder {
		height: 1.1em;
	}
</style>
