<div class="" ng-controller="LoginCtrl">


	<div class="row">
		<div class="col-md-6">

			<div class="account-form-brand-header logo_itca_competencia_2"></div>
			
		</div>

		<div class="col-md-4 mt-30">

			<div class="loginPage-alert alert alert-danger" role="alert" ng-if="loginFailed">
				<strong>Datos incorrectos</strong>
				<span>El usuario y/o contraseña son incorrectos</span> 
			</div>




			<form class="loginform-form" role="form" name="loginform" novalidate ng-submit=" submit( loginform ) ">

				<fieldset>

					<div class="form-group">				
						<label for="username">Username</label>
						<input type="text" id="username" name="username" class="form-control input-lg" placeholder="e-mail address" required ng-model="credentials.email">
						<p class="help-block empty-height-holder"></p>
					</div>

					<div class="form-group">				
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="form-control input-lg" required ng-model="credentials.password">
						<p class="help-block empty-height-holder"></p>
					</div>

					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" value=""  ng-model="rememberMe" />
								Recordarme
							</label>

				<!-- 	<fui-checkbox ng-model="rememberMe"  style="display: inline-block">
					<span style="margin-left:10px;"> Remember me</span>
				</fui-checkbox> -->
			</div>
		</div>

		<hr>




		<div class="form-group">
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">
					<span class="fa fa-sign-in"></span>
					Ingresar
				</button>
			</div>
			<a href="#/account/signup" class="pull-left">
				<strong>Registrarme!</strong>
			</a>
		</div>

	</fieldset>

</form>

</div>
</div>



</div>




